.program-form__info {
  padding: 1.69em 1.25em 1.25em;
}

.program-form__header {
  margin-bottom: 1.03em;
}

.program-form__description {
  font-size: 0.88rem;
  line-height: 1.29;
  text-transform: uppercase;
  margin: 0;
}

.program-form__pet-info {
  padding: 1.25em;
}

.program-form__pet-owner {
  padding: 1.69em 1.25em 0;
}

.program-form__section-title {
  margin: 0 0 1.46em;
}

.program-form__comment {
  padding: 1.69em 1.25em 0;
}

.program-form__additional {
  padding: 1.69em 1.25em 0;
}

.program-form__submit-wrapper {
  padding: 2.19em 1.25em 2em;
  text-align: center;
}

.program-form__submit {
  margin-bottom: 1.43em;
}

.program-form__legend {
  font-family: "Arial", serif;
  font-size: 0.88rem;
  line-height: 1.14;
}
