.program-form {

}

.program-form__info {
  padding: 1.6875em 1.25em 1.25em;
}

.program-form__header {
  margin-bottom: 1.027em;
}

.program-form__description {
  font-size: 0.875rem;
  line-height: 1.2857;
  text-transform: uppercase;
  margin: 0;
}

.program-form__general {
}

.program-form__pet-info {

  padding: 1.25em;
}

.program-form__field {
}

.program-form__label {

}

.program-form__input {

}

.program-form__diet-info {

}

.program-form__diets {

}

.program-form__diet {

}

.program-form__pet-owner {
  padding: 1.6875em 1.25em 0;
}

.program-form__section-title {
  margin: 0 0 1.4583em;
}

.program-form__comment {
  padding: 1.6875em 1.25em 0;
}

.program-form__comment-input {

}

.program-form__additional {
  padding: 1.6875em 1.25em 0;
}

.program-form__submit-wrapper {
  padding: 2.1875em 1.25em 2em;
  text-align: center;
}

.program-form__submit {
  margin-bottom: 1.4286em;
}

.program-form__legend {
  font-family: "Arial", serif;
  font-size: 0.875rem;
  line-height: 1.143;
}
