.page-header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.63em 1.25em;
  }
}

.page-header__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.63em 1.25em;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
