.page-footer__location {
  &--grey {
    background-color: $basic_grey;
  }
}

.page-footer__inner {
  padding: 2.5em 1.25em 1.38em;
  background-color: $basic_grey;
}

.page-footer__text-logo {
  margin-bottom: 2em;
}

.page-footer__social {
  margin-bottom: 1.38em;
}
