.button {
  display: block;
  width: 100%;
  padding: 0.71em 1.86em;
  text-align: center;
  box-sizing: border-box;
  border: none;

  font-size: 0.88rem;
  line-height: 1.28;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background: $basic_green;

  @media (min-width: $tablet-width) {
    width: fit-content;
  }
}
