.input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.13;
  color: $special_dark-grey;
  text-transform: uppercase;
  padding: 0.81em 0.94em;
  border: 1px solid #e7e7e7;
}
