.textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.125;
  color: $special_dark-grey;
  text-transform: uppercase;
  padding: 0.5625em 0.9375em;
  border: 1px solid #E7E7E7;
  width: 100%;
  box-sizing: border-box;
}
