.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__link {
  font-family: "Arial", serif;
  font-size: 1rem;
  line-height: 1.15;
  color: $special_dark-grey;
  text-decoration: none;
  margin-right: 1em;
}
