.social {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  padding: 1.5625em 0;
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {

}

.social__link {

  &--vkontakte {

  }

  &--instagram {

  }

  &--facebook {

  }
}
