.attributes {
  font-size: 0.75rem;
  line-height: 1.33;
  font-family: "Arial", serif;
  color: $special_dark-grey;
}

.attributes__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.attributes__value {
  margin: 0 0 0 3em;
}
