.good {
  padding: 1.25em 1.25em 1.56em;

  &--additional {
    padding: 0.81em 0 1.25em;
  }
}

.good__name {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  margin: 0 0 0.94em;
  text-transform: uppercase;
}
