$white: #fff;
$black: #000;
$basic_green: #68b738;
$basic_green-2: #5EAA2F;
$basic_grey: #f2f2f2;

$special_grey: #CDCDCD;
$special_grey-2: #666;
$special_dark-grey: #444;
$special_dark-grey-2: #222;
