.examples {

}

.examples__wrapper {
  padding: 1.875em 1.25em;
  background-color: #EAEAEA;
}

.examples__title {
  margin: 0 0 1.1em;

  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.1;
}

.examples__description {
  font-family: "Arial", serif;
  font-size: 0.875rem;
  color: $special_dark-grey;
  margin: 0 0 1.78em;
}

.examples__stats {

}

.examples__images {

}

.examples__image {
  width: 100%;
  max-width: 280px;
}

.examples__controls {

}
